[submodule "tiering_solutions"]
	path = tiering_solutions
	url = https://github.com/SujayYadalam94/tiering_solutions.git
	branch = vulcan-artifact
[submodule "anvil"]
	path = anvil
	url = https://github.com/ldos-project/anvil.git
	branch = vulcan
