*.o
*.so
*.txt
*.patch
!gapbs.patch
*.data
*.csv
*.pdf
*.lock
*.yaml
*.png
*.json
!config.yaml
logs/
results/
scripts/
*tags
!setup/**
**/__pycache__/**
*/result/**
evolve/aws.sh
**/.ipynb_checkpoints/
evolve/configs/config.yaml